################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nkportfolio/assets/videos/Nkportfolio_LightingShadingDemoReel_RF13.mp4
